@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
body {
  font-family: 'Lato', sans-serif;
  background: linear-gradient(to right top, #226a96 0%, #99d5e8 100%);
  color: #555;
  margin: 0;
  padding: 0;
}

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html, body {
  min-height: 100%;
  display: flex;
}

.app-container {
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.goal-card {
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(13, 59, 86, 0.5);
  margin-bottom: 20px;
  overflow: hidden;
}

.goal-info {
  padding: 20px;
  flex-grow: 1;
}

.goal-progress {
  flex-basis: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.goal-info h2 {
  margin-bottom: 10px;
}

.goal-info p {
  margin-bottom: 5px;
}

.goal-progress .svg-container {
  width: 200px;
  height: 200px;
}

.modal {
  overflow-y: auto;
}

.modal .modal-dialog {
  width: 400px;
}

.modal .modal-body {
  text-align: center;
}

.modal .data {
  margin-bottom: 10px;
}

.button {
  background: #3a8bbb;
  border: 0;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 14px;
  transition: background 0.3s ease-in-out;
}

.button:hover {
  background: #347da8;
}

input[type="number"] {
  border: 1px solid #ddd;
  border-radius: 3px;
  height: 40px;
  margin: 0;
  padding: 0 10px;
  width: 100%;
  text-align: right;
}

.smallprint {
  font-size: 12px;
  opacity: 0.7;
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  width: 100%;
  height: 100%;
}
